* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "FiraCode Nerd Font", "FiraCode Nerd Font Mono", monospace;
    font-size: 10px;
}

window#waybar {
    color: #ffffff;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 20px;
}

#window > label {
    font-size: 8px;
    font-weight: 300;
    font-style: italic;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    padding: 0 10px;
    
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces {
    margin: 0px 0px;
    padding: 5px 0 5px 0;
    color: #D9D0B9;
    border-radius: 0px;
}

#workspaces button {
    padding: 0 2px;
    margin: 0 3px;
    color: #D9D0B9;

}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-sys_cycle,
#mpd {
    padding: 7px 1px 7px 1px;
    margin: 0 1px 0 2px;
}

#custom-sys_cycle, #network, #temperature, #backlight, #pulseaudio, #battery, #clock  {
    background-color: rgba(26, 27, 38, 0.85);
    color: #C0B7A1;
    border-radius: 0px;
    border: 1px solid #4A433A; 
}

#custom-power {
    background-color: rgba(26, 24, 22, 0.6);
    color: #A65D47;
    border-radius: 100px;
    padding: 2px 0 2px 0;
    border: 1px solid #4A433A;
}

#clock.time {
   color: #D9D0B9;
}

#clock.day {
   margin-bottom: 0px;
   border-bottom: 0px solid transparent;
}


#window {	
    padding: 5px 0px; 
    color: #8B8272;
    font-weight: 300;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

.modules-left {
    background-image:
    linear-gradient(167deg, 
        transparent 5.5%, 
        #8B8272 6%, #8B8272 6.5%,
#5A5245 6.7%, #5A5245 6.9%,
#24221F 7.1%, #24221F 7.8%,
#5A5245 8.0%, #5A5245 8.2%,
#24221F 8.4%, #24221F 9.1%,
#5A5245 9.3%, #5A5245 9.5%,
#24221F 9.7%, #24221F 10.4%,
#5A5245 10.6%, #5A5245 10.8%,
#24221F 11.0%, #24221F 11.7%,
#5A5245 11.9%, #5A5245 12.1%,
#24221F 12.3%, #24221F 13.0%,
#5A5245 13.2%, #5A5245 13.4%,
#24221F 13.6%, #24221F 14.3%,
#5A5245 14.5%, #5A5245 14.7%,
#24221F 14.9%, #24221F 15.6%,
#5A5245 15.8%, #5A5245 16.0%,
#24221F 16.2%, #24221F 16.9%,
#5A5245 17.1%, #5A5245 17.3%,
#24221F 17.5%, #24221F 18.2%,
#5A5245 18.4%, #5A5245 18.6%,
#24221F 18.8%, #24221F 19.5%,
#5A5245 19.7%, #5A5245 19.9%,
#24221F 20.1%, #24221F 20.8%,
#5A5245 21.0%, #5A5245 21.2%,
#24221F 21.4%, #24221F 22.1%,
#5A5245 22.3%, #5A5245 22.5%,
#24221F 22.7%, #24221F 23.4%,
#5A5245 23.6%, #5A5245 23.8%,
#24221F 24.0%, #24221F 24.7%,
#5A5245 24.9%, #5A5245 25.1%,
#24221F 25.3%, #24221F 26.0%,
#5A5245 26.2%, #5A5245 26.4%,
#24221F 26.6%, #24221F 27.3%,
#5A5245 27.5%, #5A5245 27.7%,
#24221F 27.9%, #24221F 28.6%,
#5A5245 28.8%, #5A5245 29.0%,
#24221F 29.2%, #24221F 29.9%,
#5A5245 30.1%, #5A5245 30.3%,
#24221F 30.5%, #24221F 31.2%,
#5A5245 31.4%, #5A5245 31.6%,
#24221F 31.8%, #24221F 32.5%,
#5A5245 32.7%, #5A5245 32.9%,
#24221F 33.1%, #24221F 33.8%,
#5A5245 34.0%, #5A5245 34.2%,
#24221F 34.4%, #24221F 35.1%,
#5A5245 35.3%, #5A5245 35.5%,
#24221F 35.7%, #24221F 36.4%,
#5A5245 36.6%, #5A5245 36.8%,
#24221F 37.0%, #24221F 37.7%,
#5A5245 37.9%, #5A5245 38.1%,
#24221F 38.3%, #24221F 39.0%,
#5A5245 39.2%, #5A5245 39.4%,
#24221F 39.6%, #24221F 40.3%,
#5A5245 40.5%, #5A5245 40.7%,
#24221F 40.9%, #24221F 41.6%,
#5A5245 41.8%, #5A5245 42.0%,
#24221F 42.2%, #24221F 42.9%,
#5A5245 43.1%, #5A5245 43.3%,
#24221F 43.5%, #24221F 44.2%,
#5A5245 44.4%, #5A5245 44.6%,
#24221F 44.8%, #24221F 45.5%,
#5A5245 45.7%, #5A5245 45.9%,
#24221F 46.1%, #24221F 46.8%,
#5A5245 47.0%, #5A5245 47.2%,
#24221F 47.4%, #24221F 48.1%,
#5A5245 48.3%, #5A5245 48.5%,
#24221F 48.7%, #24221F 49.4%,
#5A5245 49.6%, #5A5245 49.8%,
#24221F 50.0%, #24221F 50.7%,
#5A5245 50.9%, #5A5245 51.1%,
#24221F 51.3%, #24221F 52.0%,
#5A5245 52.2%, #5A5245 52.4%,
#24221F 52.6%, #24221F 53.3%,
#5A5245 53.5%, #5A5245 53.7%,
#24221F 53.9%, #24221F 54.6%,
#5A5245 54.8%, #5A5245 55.0%,
#24221F 55.2%, #24221F 55.9%,
#5A5245 56.1%, #5A5245 56.3%,
#24221F 56.5%, #24221F 57.2%,
#5A5245 57.4%, #5A5245 57.6%,
#24221F 57.8%, #24221F 58.5%,
#5A5245 58.7%, #5A5245 58.9%,
#24221F 59.1%, #24221F 59.8%,
#5A5245 60.0%, #5A5245 60.2%,
#24221F 60.4%, #24221F 61.1%,
#5A5245 61.3%, #5A5245 61.5%,
#24221F 61.7%, #24221F 62.4%,
#5A5245 62.6%, #5A5245 62.8%,
#24221F 63.0%, #24221F 63.7%,
#5A5245 63.9%, #5A5245 64.1%,
#24221F 64.3%, #24221F 65.0%,
#5A5245 65.2%, #5A5245 65.4%,
#24221F 65.6%, #24221F 66.3%,
#5A5245 66.5%, #5A5245 66.7%,
#24221F 66.9%, #24221F 67.6%,
#5A5245 67.8%, #5A5245 68.0%,
#24221F 68.2%, #24221F 68.9%,
#5A5245 69.1%, #5A5245 69.3%,
#24221F 69.5%, #24221F 70.2%,
#5A5245 70.4%, #5A5245 70.6%,
#24221F 70.8%, #24221F 71.5%,
#5A5245 71.7%, #5A5245 71.9%,
#24221F 72.1%, #24221F 72.8%,
#5A5245 73.0%, #5A5245 73.2%,
#24221F 73.4%, #24221F 74.1%,
#5A5245 74.3%, #5A5245 74.5%,
#24221F 74.7%, #24221F 75.4%,
#5A5245 75.6%, #5A5245 75.8%,
#24221F 76.0%, #24221F 76.7%,
#5A5245 76.9%, #5A5245 77.1%,
#24221F 77.3%, #24221F 78.0%,
#5A5245 78.2%, #5A5245 78.4%,
#24221F 78.6%, #24221F 79.3%,
#5A5245 79.5%, #5A5245 79.7%,
#24221F 79.9%, #24221F 80.6%,
#5A5245 80.8%, #5A5245 81.0%,
#24221F 81.2%, #24221F 81.9%,
#5A5245 82.1%, #5A5245 82.3%,
#24221F 82.5%, #24221F 83.2%,
#5A5245 83.4%, #5A5245 83.6%,
#24221F 83.8%, #24221F 84.5%,
#5A5245 84.7%, #5A5245 84.9%,
#24221F 85.1%, #24221F 85.8%,
#5A5245 86.0%, #5A5245 86.2%,
#24221F 86.4%, #24221F 87.1%,
#5A5245 87.3%, #5A5245 87.5%,
#24221F 87.7%, #24221F 88.4%,
#5A5245 88.6%, #5A5245 88.8%,
#24221F 89.0%, #24221F 89.7%,
#5A5245 89.9%, #5A5245 90.1%,
#24221F 90.3%, #24221F 91.0%,
#5A5245 91.2%, #5A5245 91.4%,
#24221F 91.6%, #24221F 92.3%,
#5A5245 92.5%, #5A5245 92.7%,
#24221F 92.9%, #24221F 93.2%,
#8B8272 93.5%, #8B8272 94.0%, 
        transparent 94.5%);
    padding: 25px 1px 25px 1px;
    margin-bottom: 30px;
    border: 2px solid transparent;
    border-image: linear-gradient(167deg,
    transparent 0%, transparent 5.7%,
    #8B8272 7%, #8B8272 93.7%,
    transparent 94%, transparent 100%) 1;
}

.modules-center {
    background-color: rgba(26, 24, 22, 0.93);
    border: 1px solid #4A433A;
    margin: -20px 0px 0px 0px;
    padding: 2px 1px;
    min-height: 148px;
}	

.modules-right {
    background-image:
    linear-gradient(167deg, 
        transparent 5.5%, 
        #8B8272 6%, #8B8272 6.5%,
#5A5245 6.7%, #5A5245 6.9%,
#24221F 7.1%, #24221F 7.8%,
#5A5245 8.0%, #5A5245 8.2%,
#24221F 8.4%, #24221F 9.1%,
#5A5245 9.3%, #5A5245 9.5%,
#24221F 9.7%, #24221F 10.4%,
#5A5245 10.6%, #5A5245 10.8%,
#24221F 11.0%, #24221F 11.7%,
#5A5245 11.9%, #5A5245 12.1%,
#24221F 12.3%, #24221F 13.0%,
#5A5245 13.2%, #5A5245 13.4%,
#24221F 13.6%, #24221F 14.3%,
#5A5245 14.5%, #5A5245 14.7%,
#24221F 14.9%, #24221F 15.6%,
#5A5245 15.8%, #5A5245 16.0%,
#24221F 16.2%, #24221F 16.9%,
#5A5245 17.1%, #5A5245 17.3%,
#24221F 17.5%, #24221F 18.2%,
#5A5245 18.4%, #5A5245 18.6%,
#24221F 18.8%, #24221F 19.5%,
#5A5245 19.7%, #5A5245 19.9%,
#24221F 20.1%, #24221F 20.8%,
#5A5245 21.0%, #5A5245 21.2%,
#24221F 21.4%, #24221F 22.1%,
#5A5245 22.3%, #5A5245 22.5%,
#24221F 22.7%, #24221F 23.4%,
#5A5245 23.6%, #5A5245 23.8%,
#24221F 24.0%, #24221F 24.7%,
#5A5245 24.9%, #5A5245 25.1%,
#24221F 25.3%, #24221F 26.0%,
#5A5245 26.2%, #5A5245 26.4%,
#24221F 26.6%, #24221F 27.3%,
#5A5245 27.5%, #5A5245 27.7%,
#24221F 27.9%, #24221F 28.6%,
#5A5245 28.8%, #5A5245 29.0%,
#24221F 29.2%, #24221F 29.9%,
#5A5245 30.1%, #5A5245 30.3%,
#24221F 30.5%, #24221F 31.2%,
#5A5245 31.4%, #5A5245 31.6%,
#24221F 31.8%, #24221F 32.5%,
#5A5245 32.7%, #5A5245 32.9%,
#24221F 33.1%, #24221F 33.8%,
#5A5245 34.0%, #5A5245 34.2%,
#24221F 34.4%, #24221F 35.1%,
#5A5245 35.3%, #5A5245 35.5%,
#24221F 35.7%, #24221F 36.4%,
#5A5245 36.6%, #5A5245 36.8%,
#24221F 37.0%, #24221F 37.7%,
#5A5245 37.9%, #5A5245 38.1%,
#24221F 38.3%, #24221F 39.0%,
#5A5245 39.2%, #5A5245 39.4%,
#24221F 39.6%, #24221F 40.3%,
#5A5245 40.5%, #5A5245 40.7%,
#24221F 40.9%, #24221F 41.6%,
#5A5245 41.8%, #5A5245 42.0%,
#24221F 42.2%, #24221F 42.9%,
#5A5245 43.1%, #5A5245 43.3%,
#24221F 43.5%, #24221F 44.2%,
#5A5245 44.4%, #5A5245 44.6%,
#24221F 44.8%, #24221F 45.5%,
#5A5245 45.7%, #5A5245 45.9%,
#24221F 46.1%, #24221F 46.8%,
#5A5245 47.0%, #5A5245 47.2%,
#24221F 47.4%, #24221F 48.1%,
#5A5245 48.3%, #5A5245 48.5%,
#24221F 48.7%, #24221F 49.4%,
#5A5245 49.6%, #5A5245 49.8%,
#24221F 50.0%, #24221F 50.7%,
#5A5245 50.9%, #5A5245 51.1%,
#24221F 51.3%, #24221F 52.0%,
#5A5245 52.2%, #5A5245 52.4%,
#24221F 52.6%, #24221F 53.3%,
#5A5245 53.5%, #5A5245 53.7%,
#24221F 53.9%, #24221F 54.6%,
#5A5245 54.8%, #5A5245 55.0%,
#24221F 55.2%, #24221F 55.9%,
#5A5245 56.1%, #5A5245 56.3%,
#24221F 56.5%, #24221F 57.2%,
#5A5245 57.4%, #5A5245 57.6%,
#24221F 57.8%, #24221F 58.5%,
#5A5245 58.7%, #5A5245 58.9%,
#24221F 59.1%, #24221F 59.8%,
#5A5245 60.0%, #5A5245 60.2%,
#24221F 60.4%, #24221F 61.1%,
#5A5245 61.3%, #5A5245 61.5%,
#24221F 61.7%, #24221F 62.4%,
#5A5245 62.6%, #5A5245 62.8%,
#24221F 63.0%, #24221F 63.7%,
#5A5245 63.9%, #5A5245 64.1%,
#24221F 64.3%, #24221F 65.0%,
#5A5245 65.2%, #5A5245 65.4%,
#24221F 65.6%, #24221F 66.3%,
#5A5245 66.5%, #5A5245 66.7%,
#24221F 66.9%, #24221F 67.6%,
#5A5245 67.8%, #5A5245 68.0%,
#24221F 68.2%, #24221F 68.9%,
#5A5245 69.1%, #5A5245 69.3%,
#24221F 69.5%, #24221F 70.2%,
#5A5245 70.4%, #5A5245 70.6%,
#24221F 70.8%, #24221F 71.5%,
#5A5245 71.7%, #5A5245 71.9%,
#24221F 72.1%, #24221F 72.8%,
#5A5245 73.0%, #5A5245 73.2%,
#24221F 73.4%, #24221F 74.1%,
#5A5245 74.3%, #5A5245 74.5%,
#24221F 74.7%, #24221F 75.4%,
#5A5245 75.6%, #5A5245 75.8%,
#24221F 76.0%, #24221F 76.7%,
#5A5245 76.9%, #5A5245 77.1%,
#24221F 77.3%, #24221F 78.0%,
#5A5245 78.2%, #5A5245 78.4%,
#24221F 78.6%, #24221F 79.3%,
#5A5245 79.5%, #5A5245 79.7%,
#24221F 79.9%, #24221F 80.6%,
#5A5245 80.8%, #5A5245 81.0%,
#24221F 81.2%, #24221F 81.9%,
#5A5245 82.1%, #5A5245 82.3%,
#24221F 82.5%, #24221F 83.2%,
#5A5245 83.4%, #5A5245 83.6%,
#24221F 83.8%, #24221F 84.5%,
#5A5245 84.7%, #5A5245 84.9%,
#24221F 85.1%, #24221F 85.8%,
#5A5245 86.0%, #5A5245 86.2%,
#24221F 86.4%, #24221F 87.1%,
#5A5245 87.3%, #5A5245 87.5%,
#24221F 87.7%, #24221F 88.4%,
#5A5245 88.6%, #5A5245 88.8%,
#24221F 89.0%, #24221F 89.7%,
#5A5245 89.9%, #5A5245 90.1%,
#24221F 90.3%, #24221F 91.0%,
#5A5245 91.2%, #5A5245 91.4%,
#24221F 91.6%, #24221F 92.3%,
#5A5245 92.5%, #5A5245 92.7%,
#24221F 92.9%, #24221F 93.2%,
#8B8272 93.5%, #8B8272 94.0%, 
        transparent 94.5%);
    padding: 25px 1px 25px 1px;
    border: 2px solid transparent;
    border-image: linear-gradient(167deg,
    transparent 0%, transparent 5.7%,
    #8B8272 7%, #8B8272 93.7%,
    transparent 94%, transparent 100%) 1;
}

/*#clock {
    border-radius: 20px;
    background-color: transparent;
    font-weight: bold;
    color: Black;
    background-image: 
    	linear-gradient(45deg, #36454F 0%, #99A3A3 100%),
    	linear-gradient(45deg, #B0C4DE 0%, #B0C4DE 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border: 3px solid transparent;*/

/*#battery {
    background-color: rgba(26, 27, 38, 0.85);
    color: #C0B7A1;
    border-radius: 0px;
    border: 1px solid #4A433A; 
}*/

/*#battery.charging, #battery.plugged {
    background-color: rgba(26, 27, 38, 0.85);
    color: #C0B7A1;
    border-radius: 0px;
    border: 1px solid #4A433A; 
}*/

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: Gainsboro;
    color: #000000;
}

#memory {
    background-color: Gainsboro;
    color: #000000;
}

#disk {
    background-color: Gainsboro;
    color: #000000;
}

/*#backlight {
    background-color: rgba(26, 27, 38, 0.85);
    color: #C0B7A1;
    border-radius: 0px;
    border: 1px solid #4A433A; 
}*/

/*#network {
    background-color: rgba(26, 27, 38, 0.85);
    color: #C0B7A1;
    border-radius: 0px;
    border: 1px solid #4A433A; 
}*/

#network.disconnected {
    background-color: #f53c3c;
}

/*#pulseaudio {
    background-color: rgba(26, 27, 38, 0.85);
    color: #C0B7A1;
    border-radius: 0px;
    border: 1px solid #4A433A; 
}*/

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

/*#temperature {
    background-color: rgba(26, 27, 38, 0.85);
    color: #C0B7A1;
    border-radius: 0px;
    border: 1px solid #4A433A; 
}*/

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #1A1816;
    border-left: 2px solid #5E7D7E;
    border-top: 3px solid #4A433A;
}

#tray > button {
    border: none;
    margin: 0;
    padding: 0 2px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

